body, table, input, textarea, select, button {
    font: 12pt Calibri;
}

body {
    margin: 0;
}

header {
    background-color: #EEE;
    box-shadow: 0 0 5px #000;
    padding: 10px;
    padding-left: 90px;

    background-image: url('../images/favicon.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}

    header h1 {
        margin: 0;
    }

    header h1 a {
        text-decoration: none;
        color: black;
    }

section {
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 50px;
}

    section h1 {
        margin: 0;
        margin-bottom: 20px;
    }

footer {
    background-color: #EEE;
    box-shadow: 0 0 5px #000;
    padding: 10px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table {
    border-collapse: collapse;
}

.table th, 
.table td {
    border: 1px solid #ccc;
    padding: 2px 5px;
}

.table th {
    background-color: #ddd;
}

.table td {
    vertical-align: top;
}

.table tr:hover {
    background-color: #eee;
}

form > div {
    margin-bottom: 2px;
}

form > div > label:first-child {
    display: inline-block;
}

form > div > label:first-child:after {
    content: " : ";
}

.error {
    color: red;
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

.valid {
    background-image: url('../images/valid.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

button img {
    vertical-align: text-top;
}

label input {
    vertical-align: text-top;
}

pre {
    font-size: 10pt;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px;
}

